@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@200;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: black;
}
nav {
  color: aliceblue;
  top: 5px;
  /* background-color: rgba(170, 164, 164, 0.364); */
  height: 62px;
}
nav img {
  width: 180px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}
.main {
  background-image: url(background.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  height: 70vh;
  position: relative;
}
.main .box {
  height: 70vh;
  width: 100%;
  background-color: black;
  opacity: 0.69;
  position: absolute;
  top: 0px;
  color: aliceblue;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin: auto;
}
.hero {
  height: 76%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  z-index: 1;
  /* font-family: "Martel Sans", sans-serif; */
  font-family: "Poppins", sans-serif;
  gap: 20px;
  padding: 30px;
}
.hero > :nth-child(1) {
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}
.hero > :nth-child(2) {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.hero :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.btn {
  padding: 3px 8px;
  background-color: rgba(248, 243, 243, 0.021);
  font-weight: 400;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}
.seperation {
  background-color: rgb(79, 74, 74);
  height: 7px;
}
.btn-red {
  background-color: red;
  color: white;
  padding: 3px 12px;
  font-size: 20px;
  border-radius: 4px;
  font-weight: 400;
}
.main input {
  color: white;
  padding: 8.5px 52px 6px 22px;
  font-size: 15px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  color: white;
  border: 1px solid rgba(220, 215, 215, 0.5);
}
.btn-red-sm {
  background-color: red;
  color: white;
}
.first {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap;  */
}
.secImg {
  position: relative;
}
.secImg img {
  width: 555px;
  position: relative;
  z-index: 10;
  margin: 10px;
}
.secImg video {
  position: absolute;
  margin: 30px;
  width: 500px;
  overflow: hidden;
}
@media screen and (max-width: 1300px) {
  .first {
    flex-wrap: wrap;
  }
  .secImg img {
    width: 305px;
  }
  .secImg video {
    width: 305px;
  }
}

section.first > div {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}
.first > div:first-child {
  font-size: 48px;
  font-weight: bolder;
}
.first > div :nth-child(2) {
  font-size: 24px;
  font-weight: bolder;
}
.cls {
  font-size: 48px;
  font-weight: bolder;
}
.faq h2 {
  color: white;
  text-align: center;
  font-size: 48px;
}
.faqbox {
  font-size: 24px;
  display: flex;
  background-color: #2d2d2d;
  padding: 14px;
  max-width: 60vw;
  text-align: center;
  justify-content: space-between;
  margin: 20px auto;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.faqbox svg {
  filter: invert();
}
.faqbox:hover {
  background-color: #414141;
}
footer {
  color: white;
  max-width: 60vw;
  margin: auto;
}
footer span {
  text-align: center;
  color: white;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}
@media screen and (max-width: 1300px) {
  nav{
    max-width: 90vw;
  }
  .hero > :nth-child(1) {
    font-weight: bolder;
    font-size: 32px;
    text-align: center;
  }
  .hero > :nth-child(2) {
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
  }
  .hero > :nth-child(3) {
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
  }
  .hero-buttons{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .btn-red{
    width: 200px;
    margin: 0 25px;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    grid-gap: 25px;
  }
  .faq h2{
    text-align: center;
    font-size: 32px;
  }
  footer{
    max-width: 90vw;
  }
  .footer-item {
    justify-content: center;
    align-items: center;
  }
}
.footer-item {
  display: flex;
  flex-direction: column;
}
.footer a {
  font-size: 14px;
  color: white;
  padding: 14px;
}
